@charset 'utf-8';

@media all and (max-width: 670px) {
  main {
    background-size: contain;
    padding: 250px 0 0 0;
  }
  .header-right > div {
    padding: 0 15px;
    color: #fff;
  }
  .header-logo {
    width: 15%;
  }

  .prof-paragraph {
    padding: 30px;
  }
}
