@charset 'utf-8';
/* 主な枠組み */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  position: fixed;
}
main {
  background-image: url(../images/2025-3-18.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 500px 0 40px 0;
}
footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.container {
  padding: 5px;
}
.header-logo {
  border-radius: 50%;
}

.header-right {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}
.aboutme {
  background: rgba(17, 12, 24, 0.556);
  border-radius: 50px;
}
.link {
  background: rgba(181, 226, 226, 0.91);
  border-radius: 50px;
}
.illustrator {
  background: rgba(34, 0, 255, 0.5);
  border-radius: 50px;
}

/*  複雑な指定*/
header > .container {
  background: rgba(34, 49, 52, 0.9);
  display: flex;
  justify-content: space-between;
}

footer > .container {
  display: flex;
  justify-content: space-between;
}

.header-right > div {
  padding: 0 25px;
  color: #fff;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
  text-align: center;
}

.prof-header {
  font-size: 2.25rem;
  line-height: 2.5rem;
  padding: 50px 0 0 50px;
  margin: 0;
  color: rgb(248, 241, 241);
}

.prof-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}

.prof-table {
  width: 100%;
  max-width: 28rem;
  display: flex;
  justify-content: center;
}

.font-bold {
  font-weight: 700;
  padding: 8px 8px 8px 0;
  color: rgb(255, 255, 255);
}

table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

.data {
  padding: 8px 0 8px 8px;
  color: rgb(255, 255, 255);
}

.prof-paragraph {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  color: #ceff0a;
  font-size: large;
}

a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.w-8 {
  width: 2rem;
}

.h-8 {
  height: 2rem;
}

.link-header {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-content {
  display: flex;
  justify-content: space-around;
  padding-bottom: 25px;
  text-align: center;
  margin: 20px 0;
}

.fa {
  margin-right: 5px;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}
.twitter {
  background-color: #55acee;
}

.github {
  background-color: #111;
}

#Link {
  opacity: 0;
}
